<!-- login.html -->
{% extends 'G2app/index.html' %}  
{% block content %}
  <div class="login-box">
    <h1>Login</h1>
    <form method="post">
      {% csrf_token %}
      <label for="id_username">Utilizador</label>
      {{ form.username }}
      
      <label for="id_password">Password</label>
      {{ form.password }}
      
      <input type="submit" value="Submit" />
    </form>
    <p class="para-2">
        Não tens conta? <a href="{% url 'signup' %}">Cria aqui</a>
    </p>
    <p class="para-2">
        <a href="{% url 'password_reset' %}">Esqueceu sua senha?</a>
    </p>
  </div>
  {% if form.errors %}
    <div class="error-messages">
        <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
  {% endif %}
{% endblock %}
